<body>
    <div class="movie-container">
        <div class="movie" *ngFor="let movie of formattedSet">
            <img src="{{IMG_API + movie.poster}}" alt={{movie.title}} />
            <div class="movie-info">
                <h3>{{movie.title}}</h3>
                <span class="setVote {{voteColor(movie.rating)}}">{{movie.rating}}</span>
            </div>

            <div class="movie-hover">
                <button (click)="dislike(movie)" mat-icon-button color="success" style="float: right" aria-label="Example icon-button with a heart icon">
                    <mat-icon>delete</mat-icon>
                </button>
                <h2>Overview:</h2>
                <p>{{movie.overview}}</p>
            </div>
        </div>
    </div>
    
</body>
