.price {
    font-weight: bold;
    position: absolute;
    right: 10px;
}

.clear {
    margin-top: 10px;
    position: absolute;
    right: 15px;
}

.placeOrder {
    margin-top: 10px;
    position: absolute;
    right: 90px;
}
